

#bb_aj_GenericModalContainer {
    z-index: 9999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
}

    #bb_aj_GenericModalContainer h4 {
        margin-top: 1rem;
    }

    #bb_aj_GenericModalContainer .bb_aj_modalheader h3 {
        float: left;
    }

    #bb_aj_GenericModalContainer .bb_aj_modalheader .buttonblock {
        float: right;
    }

    #bb_aj_GenericModalContainer .bb_aj_modalcontent {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        padding: 1rem;
        color: #000;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        overflow-y: auto;
        overflow-x: auto;
        min-width: 320px;
        max-height: 60%;
        height: 70%;
        width: 54%;
    }

    #bb_aj_GenericModalContainer .bekraftaModalbox {        
        text-align: center;
    }
    .headerspace {
        padding-top: 2.0rem;
    }

        #bb_aj_GenericModalContainer .bekraftaModalbox h2 {
            font-size: 1.7rem;
            font-weight: normal;
        }

    #bb_aj_GenericModalContainer .modalcontentblock {
        clear: both;
    }
	
.bb_aj_modalbody:before {
  content: "";
  display: table;
  clear: both;
}	
/* Create two equal columns that floats next to each other */
.column_modal {
    float: left;
    width: 50%;
    padding: 10px;
    /* height: 300px; */ /* Should be removed. Only for demonstration */
}

.modal_left {
    width: 33%;
}

.modal_right {
    width: 66%;
    text-align: left;
}

    .modal_right h2 {
        margin-left: 0px !important;
        line-height: 3rem !important;
    }

    .modal_right p {
        margin-left: 0px !important;
        line-height: 1.5rem !important;
    }

.kk_aj_subuppdrag {
    margin-left: 1.4rem;
    color: #630202;
    font-weight: bold;
}

.kk_aj_huvudbuppdrag {
    margin-left: 1rem;
    color: #630202;
    font-weight: bold;
}

.modbekraftabutton {
    margin-top: 1.5rem;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column_modal {
        width: 100%;
    }
}
